<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <table>
            <tr>
            <thead>subject</thead>
            <thead>date</thead>
            </tr>
            <tr>
            <td>math</td>   
            <td>12-06-2024</td>
            </tr>
            <tr>
            <td>english</td>
            <td>15-06-2024</td>
            </tr>
            <tr>
            <td>science</td>
            <td>18-06-2024</td>
            </tr>
            <tr>
            <td>social</td>
            <td>20-06-2024</td>
            </tr>
            <tr>
            <td>computers lab</td>
            <td>22-06-2024</td>
            </tr>
        </table>
        
</body>
</html>